include requirements.txt
include README.md
include *.py
recursive-include fast_api *.py
recursive-include fast_api/trained_model *.pickle
recursive-include fast_api/processing *.py
recursive-include fast_api/data *.py
include churn_prediction_pipeline/VERSION
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
